@model IEnumerable<JobMatch.JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobSeeker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobSeeker.Name)
            </td>
            <td>
                @* <a asp-action="Download" asp-route-id="@item.Id">Download</a> *@
                @if (item.Resume != null)
                {
                    <a asp-action="ViewResume" asp-route-resume="@item.Resume">View Resume</a>
                }
                else
                {
                    <text>No Resume</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <form asp-controller="JobApplication" asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete for this application?')">
                    <input type="submit" value="Delete" />
                </form> 
            </td>
        </tr>
}
    </tbody>
</table>
