@model IEnumerable<JobMatch.Job>

@{
    ViewData["Title"] = "Index";
    <link rel = "stylesheet" href = "~/css/index.css" />
}

<h1>Job list</h1>
@if (User.IsInRole("Employer"))
{
    <p class="create-button">
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Status)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td> *@
            <td>
                @if (User.IsInRole("Admin"))
                {
                <a class="details-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this?')">
                    <input type="submit" class="delete-button" value="Delete" />
                </form>
                }else if (User.IsInRole("Employer"))
                {
                    
                }
                else if (User.IsInRole("Job Seeker"))
                {
                <a class="details-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                       <form asp-action="ApplyJob" asp-route-id="@item.Id" method="get">
                    <input type="submit" class="apply-button" value="Apply" />
                </form>
                } else 
                {
                <a class="details-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                      <form asp-action="ApplyJob" asp-route-id="@item.Id" method="get">
                    <input type="submit" class="apply-button" value="Apply" />
                </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
