@model IEnumerable<JobMatch.JobSeeker>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/index.css" />
}

<h1>Job Seekers</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  *@
                <a class="details-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <form asp-controller="JobSeeker" asp-action="ResetPassword" asp-route-id="@item.Email" method="post" onsubmit="return confirm('Are you sure you want to reset password this account?')">
                    <input type="submit" class="apply-button" value="Reset password" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
